body { font-size: 40px; }

th, td {
padding: 15px;
padding-left: 5%;
text-align: center;
}

#c03 {
text-align: left;
width: 150%;
font-size: 40px;
}

table { border-collapse: collapse; }
tr:nth-child(odd) { border: solid thin; }
tr:nth-child(even) { border: solid thin; }
