body { font-size: 20px; }

th, td {
padding: 5%;
padding-left: 5%;
text-align: center;
}

#c03 {
text-align: left;
}

table { border-collapse: collapse; }
tr:nth-child(odd) { border: solid thin; }
tr:nth-child(even) { border: solid thin; }
